.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-header {
  margin-bottom: 40px;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px 120px;
  background-color: #fff;
}

.auth-form-fieldset {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 300px;
}

.auth-form-input {
  padding: 0 15px 12px;
  border-bottom: 1px solid #565568;
  font-size: 16px;
  color: #565568;
  outline: 0;
}

.form-btn {
  align-self: start;
  padding: 15px 40px;
  font-size: 16px;
  color: #fff;
  background-color: #403F4E;
  cursor: pointer;
}